{% extends "../../layouts/default.html" %}
{% load static %}

{% block main %}
<div class="product-detail">
    <div class="container my-5">
        <div class="row">
            <div class="col-6">
                <div class="inner-thumb">
                    <img src="{{ product.thumbnail }}" alt="{{ product.title }}">
                </div>
            </div>
            <div class="col-6">
                <h1 class="inner-title">{{ product.title }}</h1>

                {% if product.category %}
                <div class="inner-category">
                    <span>Danh mục:</span>
                    <a href="/categories/{{ product.category.slug }}">{{ product.category.title }}</a>
                </div>
                {% endif %}

                {% if product.priceNew %}
                <div class="inner-price-new">{{ product.priceNew }} đ</div>
                {% endif %}

                {% if product.price %}
                <div class="inner-price-old">{{ product.price }} đ</div>
                {% endif %}

                {% if product.discount_percentage %}
                <div class="inner-percent">Giảm tới <span>{{ product.discount_percentage }}$</span></div>
                {% endif %}

                {% if product.stock %}
                <div class="inner-stock">Còn lại <span>{{ product.stock }}</span> sản phẩm</div>
                {% endif %}

                <form action="/cart/add/{{ product.id }}/" method="POST">
                    {% csrf_token %}
                    <input class="form-control mb-2" type="number" name="quantity" value="1" min="1" max="{{ product.stock }}">
                    <button type="submit" class="btn btn-success btn-block">Thêm vào giỏ hàng</button>
                </form>
                
                <div class="inner-desc">{{ product.description | safe }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
