{% extends "../../layouts/default.html" %}
{% load static %}

{% block main %}
<div class="container my-3">
    <div class="row">
        {% for item in products %}
        <div class="col-3 mb-3">
            <div class="product-item">
                <div class="inner-image">
                    <a href="/products/detail/{{ item.slug }}">
                        <img src="{{ item.thumbnail }}" alt="{{ item.title }}">
                    </a>
                </div>
                <div class="inner-content">
                    <h3 class="inner-title">
                        <a href="/products/detail/{{ item.slug }}">{{ item.title }}</a>
                    </h3>
                    <div class="inner-price-new">{{ item.priceNew }}$</div>
                    <div class="inner-price-old">{{ item.price }}$</div>
                    <div class="inner-discount">-{{ item.discount_percentage }}%</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
