body {
  background-color: #F7F7F7;
}

a {
  color: #7A7E7F;
  text-decoration: none;
}

a:hover {
  text-decoration: none; /* Hoặc bất kỳ kiểu nào bạn muốn khi hover */
}

.row {
  background-color: #FFFFFF; /* Màu nền trắng */
  padding: 25px; /* Thêm padding để tạo khoảng cách giữa các hàng */
  margin-bottom: 20px; /* Thêm margin dưới để tạo khoảng cách giữa các hàng */
  border-radius: 25px;
}

.pic-1 {
  margin-bottom: 12px;
}

/* Header */
.header {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .header .inner-logo img {
    max-height: 150px;
    max-width: 100%;
  }
  
  .header .inner-menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .header .inner-menu > ul > li {
    margin-left: 20px;
  }
  /* End Header */

  /* Footer */
  .footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  /* End Footer */

  /* product-item */
  .product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .product-item .inner-image {
    width: 100%;
    aspect-ratio: 4/3;
    border-bottom: 1px solid #ddd;
  }
  
  .product-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product-item .inner-content {
    padding: 15px;
  }
  
  .product-item .inner-content .inner-title {
    font-size: 20px;
    font-weight: 600;
  }
  
  .product-item .inner-content .inner-price-new {
    font-size: 18px;
    font-weight: 600;
    color: green;
  }
  
  .product-item .inner-content .inner-price-old {
    font-size: 18px;
    font-weight: 600;
    color: red;
      text-decoration: line-through;
  }
  
  .product-item .inner-content .inner-discount {
    font-size: 14px;
    font-weight: 600;
    color: white;
    background: red;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 8px;
  }
  /* End product-item */

  /* product-detail */
.product-detail .inner-thumb img {
    width: 100%;
    height: auto;
  }
  
  .product-detail .inner-title {
    font-size: 32px;
    margin-bottom: 15px;
  }
  
  .product-detail .inner-category {
    margin-bottom: 10px;
  }
  
  .product-detail .inner-price-new {
    color: green;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-detail .inner-price-old {
    color: red;
    font-weight: 600;
    font-size: 20px;
    text-decoration: line-through;
    margin-bottom: 10px;
  }
  
  .product-detail .inner-percent {
    margin-bottom: 10px;
  }
  
  .product-detail .inner-percent span {
    color: #fff;
    background: red;
    font-weight: 600;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 8px;
  }
  
  .product-detail .inner-stock {
    margin-bottom: 10px;
  }
  
  .product-detail .inner-stock span {
    color: #fff;
    background: green;
    font-weight: 600;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 8px;
  }

  .product-detail .inner-desc{
    margin-top: 20px;
  }
  
  .product-detail .inner-desc img {
    max-width: 100%;
  }
  /* End product-detail */

.full-width-image {
    width: 100%;
    height: auto;
}

/* Alert */

#alert-container {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 1000; /* Đảm bảo nó hiển thị trên tất cả các phần khác */
}

/* CSS cho animation */
.alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

/* end alert */

/* section-nine */
.section-nine {
  background-color: #F2F2FE;
  padding: 0px 0; 
}

.section-nine .inner-head {
  text-align: center;
  margin-bottom: 45px;
}

.section-nine .inner-head .inner-title {
  font-size: 30px;
  margin-bottom: 25px;
}

.section-nine .inner-head .inner-desc {
  font-size: 15px;
  font-weight: 400;
  color: #6F8BA4;
}

.section-nine .inner-left .left-title{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
}

.section-nine .inner-left .left-desc {
  font-size: 15px;
  font-weight: 400;
  color: #6F8BA4;
}

.section-nine .inner-right .form-control {
  border-radius: 18px;
  margin-bottom: 30px;
}

.section-nine .inner-right .inner-button {
  padding: 15px;
}
.section-nine .inner-right .inner-button a{
  font-size: 13px;
  text-decoration: none;
}
/* end-section-nine */

